.findDecorator{
    width:100%;
    overflow: hidden;
    // overflow-y: auto;
    background: #f5f5f5;
    position: relative;
    padding-bottom: 0.9rem;
    .findDecorator-form{
        padding-left: 0.45rem;
        padding-right: 0.45rem;
        h4{
            font: 500 0.38rem/0.958rem "微软雅黑";
            margin-bottom: 0.1rem
        }
        p{
            font: normal 0.3rem/0.658rem "微软雅黑";
            margin-top: 0.15rem
        }
        .findDecorator-form-textarea{
            height: 3rem;
            white-space: pre;
            white-space: pre-line;
            word-wrap: break-word;
            color: #000;
        }
        .newMargin{
            margin-bottom: 10px;
        }
    }
}

// 新版找师傅
.add-find-worker{
  .am-list-header, .am-list-content{
    color: #000;
  }
  .am-list-item .am-input-control input, .am-textarea-control textarea{
    line-height: 1rem;
    height: 1rem;
    font-size: 0.28rem;
  }
  .am-textarea-control textarea{
    line-height: 0.45rem;
  }
  .am-textarea-control textarea, .am-list-item .am-list-line .am-list-content{
    line-height: 1.5;
    font-size: 0.28rem;
  }
  .am-list-item .am-list-line .am-list-extra{
    font-size: 0.28rem;
  }
  .demoTitle:before,
  .demoTitle:after {
    border-bottom: none;
  }
  .picker-list .am-list-item .am-list-line .am-list-extra {
    flex-basis: initial;
  }

  .test {
    position: relative;
    border-bottom: 0;
  }

  .test:after {
    content: '';
    position: absolute;
    background-color: #ddd;
    display: block;
    z-index: 1;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1PX;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
  .upload{
    width: 100%;
    padding: 15px;
    height:140px;
  }
  .findDecorator-form-btn{
    width: calc(100% - 30px);
    margin:0 15px;
    background: #1890ff;
    font-size: 0.28rem
  }
}

//师傅list
.decoratorList{
  width: 100%;
  height: 100%;
  padding-top: 8px;
  overflow: hidden;
  overflow-y: auto;
  .decorator-no{
    color:#faad14;
  }
  .decorator-yes{
    color:#52c41a;
  }
}

