.decorationCase{
    width:100%;
    position: relative;
    .decorationCase-head{
        i{
            margin:0.45rem 0 0 0.1rem;
        }
        .decorationCase-head-i{
            width:0.14rem;
            height: 0.3rem;
            background: #41c95b;
            position: absolute;
            top:0.5rem;
            left: -0.45rem;
            margin:0;
        }
        h4{
            font:500 0.38rem/1.23rem "Microsoft Yahei"
        }
        a{
            font:normal 0.28rem/1.23rem "Microsoft Yahei"
        }
    }
    .decorationCase-ad{
        border-radius: 5px;
        padding-top: 0.05rem;
        padding-bottom:0.2rem;
        font:bold 0.315rem/0.88rem "Microsoft Yahei";
        img{
            width: 100%;
        }
    }
    .decorationCase-list{
        li{
            padding:0.5rem 0;
            border-top: 1px solid rgba(0,0,0,0.06);
            position: relative;
            .decorationCase-list-casePic{
                width: 3.15rem;
            }
            .decorationCase-list-title{
                padding-top: 0.07rem;
                height: 100%;
                font:bold 0.336rem/0.42rem "Microsoft Yahei";
                width:3.22rem;
            }
            .scanNum{
                width: 100%;
                position: absolute;
                left: 0;
                bottom: 0.3rem;
                font:normal 0.21rem/0.42rem "Microsoft Yahei";
                b{
                    margin: 0 0.1rem;
                }
            }
        }
    }
}
