@import '@/styles/variable.scss';

.decorationCase{
    width:100%;
    position: relative;
    .decorationCase-head{
        i{
            margin:0.45rem 0 0 0.1rem;
        }
        .decorationCase-head-i{
            width:0.14rem;
            height: 0.3rem;
            background: $blue;
            position: absolute;
            top:0.5rem;
            left: -0.45rem;
            margin:0;
        }
        h4, a{
          font-size: 0.38rem;
          line-height: 1.23rem;
            // font:500 0.38rem/1.23rem "Microsoft Yahei"
        }
        // a{
        //     font:normal 0.28rem/1.23rem "Microsoft Yahei"
        // }
    }
    .decorationCase-ad{
        border-radius: 5px;
        padding-top: 0.05rem;
        padding-bottom:0.2rem;
        font:bold 0.315rem/0.88rem "Microsoft Yahei";
        img{
            width: 100%;
        }
    }
}
// 装修案例cell
.decorationCase-cell{
  margin: 0.3rem 0;
  padding: 0.42rem 0;
  width: 100%;
  border-top: 2px solid #f5f5f5;
  border-bottom: 2px solid #f5f5f5;
  display: block;
  // box-shadow: #e8e8e8 0 0.04rem 0.06rem 0;
  // box-shadow: 0 0.04rem 0 #e8e8e8, 0 -0.04rem 0 #e8e8e8;
  .decorationCase-cell-top{
    display: flex;
    justify-content: space-between;
    height: 2.5rem;
    .decorationCase-cell-info{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      >p{
        width: 2.68rem;
        line-height: 0.45rem;
        font-size: 0.38rem;
        color: #2b2b2b;
      }
      >div{

      }
    }
    >img{
      width: 3.77rem;
      height: 2.5rem;
    }
  }
  .decorationCase-cell-info{

  }
}
