@import '@/styles/variable.scss';

.goods-type-list{
  background: #f3f5f7;
  width: 100%;
  display: flex;
  height: calc(100vh - 0.8rem - 0.9rem);
  .nav{
    width: 20%;
    line-height: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    background: #fff;
    >div{
      width: 100%;
      text-align: center;
      border-bottom: 1px solid #e5e5e5;
      border-right: 1px solid #e5e5e5;
    }
    .active{
      color: $blue;
      border-right: none;
      background: #f3f5f7;
      border-left: 0.06rem solid $blue;
    }
  }
  .two-nav{
    margin: 0.04rem 0;
    width: 75%;
    height: 100%;
    overflow-y: auto;
    margin-left: 2.5%;
    .two-genre{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      background: #fff;
      margin-bottom: 0.1rem;
      >div{
        width: 30%;
        height: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .type-img{
          width: 0.8rem;
          height: 0.8rem;
        }
        >div{
          font-size: 0.24rem;
          line-height: 0.56rem;
          color: #646464;
        }
      }
      .active{
        color: $blue;
      }
      .appendBlock{
        display: none;
      }
    }
    .goods-list{
      .good-cell{
        display: flex;
        padding: 0.4rem 0.2rem;
        font-size: 0.24rem;
        color: #434343;
        box-shadow: #e8e8e8 0 0.04rem 0.06rem 0;
        margin-bottom: 0.1rem;
        border-radius: 0.1rem;
        background: #fff;
        .good-img{
          width: 2rem;
          height: 1.6rem;
          position: relative;
          .img-bg{
            width: 100%;
            height: 1.6rem;
            border-radius: 0.1rem;
          }
          >p{
            position: absolute;
            left: 0;
            bottom: 0;
            background: $blue;
            color: #fff;
            font-size: 0.2rem;
            line-height: 0.36rem;
            width: 100%;
            text-align: center;
            border-radius:0 0 0.1rem 0.1rem;
            overflow:hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
        .good-info{
          margin-left: 0.3rem;
          display: flex;
          flex-direction: column;
          h4{
            font-size: 0.3rem;
            font-weight: bolder;
            color: #434343;
            line-height: 0.56rem;
            overflow:hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          .introduce{
            line-height: 0.5rem;
            color: #9a9a9a;
            font-size: 0.2rem;
          }
          .price{
            color: $red;
            line-height: 0.54rem;
            font-size: 0.26rem;
            font-weight: bolder;
          }
        }
      }
    }
  }
}
